section#main
	.container
		include header
		.row
			.col-md-6.col-sm-6
				h1.main_title 
					span ПОЗДРАВЛЯЮ!
				h2.main_subtitle Теперь вы в списке участников интенсива
				p.main_text Более подробная информация придет на вашу почту в течении 5 минут
				p.main_text А пока 
					span посмотрите видео и получите бонус 
					| перед интенсивом
			.col-md-6.col-sm-6
				.video_wrapper.video_wrapper_main
					iframe(src="https://www.youtube.com/embed/9AuLwiJrEMs?rel=0" allowfullscreen)