section#author
	.container
		.row
			.col-md-5
				img(src="img/janna_about.png", alt="Жанна Абрамова")#janna_about
				h4.author_subtitle Эксперт федеральных телеканалов:
				a(href="img/channels.jpg" data-fancybox="channels")
					img#channels(src="img/channels.jpg", alt="Каналы")
				a(href="img/collage.jpg" data-fancybox="collage")
					img#collage(src="img/collage.jpg", alt="Коллаж")
			.col-md-7
				h3.general_title.general_title_author О Жанне Абрамовой
				p.author_text Жанна Абрамова - один из 
					span ведущих международных специалистов 
					| по метафорическим картам (МАК) и расстановкам. Ее приглашают выступать на федеральные телеканалы 
					span Россия 1, Первый канал, НТВ 
					| и многие другие
				p.author_text И это разительный контраст с той женщиной, которая, несмотря на свое образование и опыт, долгое время не могла стать востребованным специалистом и просто счастливой женщиной: развод в 28 лет, ребенок на руках и работа, которая не приносит денег
				p.author_text К счастью, желание расти в профессиональном плане толкало Жанну к поиску новых методик работы. Так она познакомилась с метафорическими ассоциативными картами (МАК), которые не просто помогли ей быстро разобраться в собственной жизни, но и 
					span принесли более 3 000 благодарных клиентов
					| , некоторые из которых отчаялись услышать голос своего подсознания и выйти из кризисных ситуаций
				ul.get_list.author_list
					li Мастер практической психологии, 
						span факультет клинической психологии 
						| Академии при президенте РФ РАНХиГС
					li 
						span Международный 
						| специалист по метафорическим картам (МАК).
					li 
						span Опыт работы с МАК более 
						span 14 лет
					li Системный расстановщик (
							span авторская методика 
							| расстановок)
					li Процессор Техники 
						span РПТ, Тетахилинга , Матрицы Энергетики 
						| (Квантовое смещение)
					li Гипнотерапевт, регрессолог
					li Терапевт психосоматики и метафизики
					li Коуч, женский тренер
						span автор трансформационных программ 
						| «Метафизика - ключ к исцелению», «МАК - отправная точка заболеваний», «Расстановки - исцеление родового поля», «Коучинг программы по монетизации своих способностей», «Управление реальностью», «Мышление будущего», «МАК – сам себе доктор»