section#get
	.container
		h3.general_title.general_title_get В ходе этого 3-х дневного интенсива вы научитесь:
		.row
			.col-md-4.col-sm-5
				.examples
					.example
						.example_img.example_img_1
						p.example_text Жанна делится своими методами высокоэффективной работы с людьми
					.example
						.example_img.example_img_2
						p.example_text Жанна лично обучила МАК более 8 000 учеников
					.example
						.example_img.example_img_3
						p.example_text Прошла путь от девушки 28 лет после развода, без денег,  без работы, с ребенком на руках до востребованного специалиста по работе в самых “высших кругах”
			.col-md-8.col-sm-7
				.get_container
					.gets.get_1
						.get_inner
							h4.get_container_title Эффективно консультировать людей с минимальными знаниями
							ul.get_list
								li как применить метод МАК в качестве основного вида проработки запросов
								li как через метафорические карты дополнить ваш метод до высочайшего уровня профессионализма
								li как создать свою уникальную методологию, которая позволит вам наработать новых клиентов и резко вырасти в доходе
					.gets.get_2
						.get_inner
							h4.get_container_title Достигать результатов в консультировании, которых вы бы не смогли добиться привычными методами:
							ul.get_list
								li как легко работать с клиентом даже в самых сложных ситуациях
								li как быстро справиться со страхом и саботажем клиента перед любыми действиям
								li как мгновенно, в 3 простых шага,  получать ответы на вопросы ваших клиентов
					.gets.get_3
						.get_inner
							h4.get_container_title Находить простые и действенные решения для запросов, которые обычно для психологов являются сложными и обьемными
							ul.get_list
								li как завершить ряд неудач в отношениях и обрести любовь
								li как в 5 шагов увеличить  доход
								li как найти свое предназначение и получить доступ к родовым ресурсам
					.gets.get_4
						.get_inner
							h4.get_container_title Прорабатывать сферы жизни, которые касаются не только психологии:
							ul.get_list
								li Почему весь организм «расклеился» и столько проблем со здоровьем
								li Как вернуть удачу
								li В каких сферах будет проще заработать, а где — денег нет
		button.button.button_get(data-toggle="modal" data-target="#myModal") Зарегистрироваться на интенсив