section#get
	.container
		h3.general_title.general_title_get В ходе этого 3-х дневного интенсива вы научитесь:
		.row
			.col-md-4.col-sm-5
				.examples
					.example
						.example_img
						p.example_text Жанна делится своими методами высокоэффективной работы с людьми
					.example
						.example_img
						p.example_text Жанна лично обучила МАК более 8 000 учеников
					.example
						.example_img
						p.example_text Прошла путь от девушки 28 лет после развода, без денег,  без работы, с ребенком на руках до востребованного специалиста по работе в самых “высших кругах”
			.col-md-8.col-sm-7
				.get_container
					.gets.get_1
						.get_inner
							h4.get_container_title Мгновенно получать ответы на любые вопросы
							ul.get_list
								li Как найти дело жизни и в чем — ваше истинное призвание?
								li Почему не клеится личная жизнь?
								li Что делать, если все время попадаются те, кто обижает и ни во что не ставит? ..и многие другие
					.gets.get_2
						.get_inner
							h4.get_container_title Работать с подсознанием, своим или клиента, чтобы выпускать наружу
							ul.get_list
								li Переживания и чувства
								li Установки и ценности
								li Идеи и скрытые ресурсы
					.gets.get_3
						.get_inner
							h4.get_container_title Восстанавливать связь со своими истинными желаниями и предназначением
							ul.get_list
								li Как открыть поток изобилия, чтобы получить доступ к благам и родовым ресурсам
								li Как быстро справиться со страхом и саботажем перед любыми действиями
								li Как переписать свой жизненный неудачный сценарий на жизнь вашей мечты
					.gets.get_4
						.get_inner
							h4.get_container_title Получать конкретные решения своих запросов:
							ul.get_list
								li Как избавиться от зависимостей и взять свою жизнь под контроль?
								li Почему весь организм «расклеился» и столько проблем со здоровьем?
								li Как прервать этот замкнутый круг, где топчешься на месте, а выхода не видно?
		button.button.button_get(data-toggle="modal" data-target="#myModal") Зарегистрироваться на интенсив