section#second
	.container
		.row
			.col-md-4.col-sm-4
				.second_col
					.second_col_icon.second_icon_1
					h4.second_col_title Отметка в календаре
					p.second_col_text Поставьте напоминание на телефоне, чтобы не пропустить интенсив
			.col-md-4.col-sm-4
				.second_col
					.second_col_icon.second_icon_2
					h4.second_col_title 3 часа
					p.second_col_text Выделите примерно 3 часа на просмотр каждого урока
			.col-md-4.col-sm-4
				.second_col
					.second_col_icon.second_icon_3
					h4.second_col_title Рабочая тетрадь
					p.second_col_text Скачайте рабочие тетради для получения максимальной пользы
		//- h3.second_aftertitle Пригласите друзей участвовать в бесплатном мастер-классе
		//- script(type="text/javascript")
		//- 	| (function() { if (window.pluso)if (typeof window.pluso.start == "function") return; if (window.ifpluso==undefined) { window.ifpluso = 1; var d = document, s = d.createElement('script'), g = 'getElementsByTagName'; s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true; s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js'; var h=d[g]('body')[0]; h.appendChild(s); }})();
		//- .pluso(data-background="none;" data-options="big,square,line,horizontal,nocounter,sepcounter=1,theme=14" data-services="vkontakte,moimir,facebook,odnoklassniki,twitter" data-url="https:///abramova.mastervision.su/mak-find-solution/" data-title="«Как использовать метафорические ассоциативные карты, чтобы найти лучшее решение в любой ситуации?»" data-description="3-хдневный онлайн-интенсив от дипломированного психолога и международного специалиста Жанны Абрамовой")