#author
	padding 50px 0
#channels
#collage
	width 100%
	display block
	max-width 560px
	margin 0 auto 15px
#janna_about
	display block
	width 100%
	max-width 350px
	margin 0 auto 15px
.author_text
	margin-bottom: 20px
	span
		font-family: 'OpenSansBold', sans-serif;
.general_title_author
	text-align: left
.author_subtitle
	font-size: 20px
	margin-bottom: 20px;
	font-family: 'OpenSansSemiBold', sans-serif
.author_list
	span
		font-family: 'OpenSansBold', sans-serif;