footer
	padding 20px 0
	text-align: center
	background-color: rgb(30,0,0)
	color #fff
	a
			&:focus
				color #fff
.contact
	margin 5px
	.fa
		margin-right: 5px
.docs_link
	display: inline-block
	margin 0 5px
	text-decoration: underline
.modal-backdrop.in
	opacity .8
#myModal
	.modal-content
		background-color: #fff
		padding 10px
	.modal-body
		border-radius: 4px
		border: 1px solid rgba(0,0,0,.05)
		padding 20px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 15px
	right 15px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal_mail
	max-width 300px
#myPolitics
	.modal-title
		font-size: 20px
		font-family: "OpenSansBold", sans-serif
		width 100%
		max-width 90%
	p
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0