#last
	padding 40px 0 0
	background-color #fff
	background-image url(../img/last_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
#janna_last
	width 100%
.general_title_last 
	margin-top: 60px
	text-align: left 
.last_text 
	font-size: 22px
.last_form
	margin-top: 10px
.form_author
	float left
	span
		font-family: 'OpenSansBold',sans-serif
.last_when
	float: right
.last_current_date
.last_current_month
.last_time
	float left
	span
		font-family: 'OpenSansBold',sans-serif
