#main
	padding 0 0 30px
	background-color #fff
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center bottom
	background-size: cover
header
	padding 30px 0
#logo
	width 100%
	max-width 200px
.pre
	font-size: 13px
	text-align: right
	span
		font-family: "OpenSansBold", sans-serif
.main_title
	font-size: 28px;
	font-family: "OpenSansExtraBold", sans-serif
	line-height: 32px;
	margin 30px 0 30px
	text-align: center
	span
		display: inline-block
		background-color: rgb(255,56,27)
		color #fff
		padding 0 10px 5px
.main_subtitle
	font-size: 20px;
	line-height: 1.6;
	font-family: "OpenSansBold", sans-serif
	text-align: center
.main_text 
	font-size: 18px
	margin-top: 20px
	text-align: center
	span
		font-family: "OpenSansBold", sans-serif
.video_wrapper_main
	box-shadow: 1.169px 3.825px 30px 0px rgba(157, 116, 116, 0.67);