#second
	padding 45px 0
	text-align: center
.second_col
	width 100%
	max-width 320px
	margin 0 auto 60px
.second_col_icon
	width 167px
	height 166px
	margin 0 auto
	background-image url(../img/second_icons.png)
	background-repeat no-repeat
.second_icon_1
	background-position 0 center
.second_icon_2
	background-position -167px 0
.second_icon_3
	background-position -334px 0
.second_col_title
	font-size: 20px;
	font-family: "OpenSansExtraBold", sans-serif;
	line-height: 1.2;
	margin: -30px 0 30px
.second_col_text
	font-size: 15px;
	color: rgba(0, 0, 0, 0.702);
	line-height: 1.6;
.second_aftertitle
	text-align: center
	font-size: 20px;
	font-family: "OpenSansExtraBold", sans-serif;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	margin-bottom: 25px
.pluso-wrap>div
	border-radius: 0 !important